body {
    background-color: rgb(235, 218, 177);
    color: rgb(155, 93, 18);
    overflow-x: hidden;
}

h1 {
    text-align: center;
    padding: 17px;
    background-color: rgb(143, 71, 71);
    color: rgb(227, 206, 187)
}

.main-content{
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
}

.filter {
    margin: 10px;
}

input:not([placeholder]) {
    cursor: pointer;
}

.create {
    color: rgb(149, 130, 87);
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.create:hover {
    color: rgb(205, 168, 104);
}

/* 

.car-preview {
    background-color: white;
    color: darkviolet;
    width: 20%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    text-align: center;
    padding: 5px;
}

.book-img {
    max-width: 100%;
} */


/* 
.car-filter {
    background-color: indigo;
    padding: 10px;
    margin: 20px;
}
.filter-vendor-select {
    text-transform: capitalize;
}
.car-filter hr {
    margin: 30px;
} */